# General
.DS_Store
Thumbs.db
*.swp

# IDEs
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Virtual Environments
venv/
env/
.env
.venv/
ENV/
env.bak/
venv.bak/

# Logs
*.log
logs/
custom.log

# Docker
docker-compose.override.yml

# Testing
.coverage
.tox/
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/

# Jupyter Notebook
.ipynb_checkpoints

# MyPy
.mypy_cache/
.dmypy.json
dmypy.json

# Local configurations
.env.local
.env.*.local

#
monitoring/grafana/plugins/
scripts/k8s/test/load-test-results/
docs/archive