global:
  scrape_interval: 15s
  evaluation_interval: 15s

scrape_configs:
  - job_name: 'prometheus'
    static_configs:
      - targets: ['localhost:9090']

  - job_name: 'log-aggregator'
    static_configs:
      - targets: ['log-aggregator:8001']
    scrape_interval: 10s