apiVersion: v1
kind: ConfigMap
metadata:
  name: log-monitoring-config
  namespace: log-monitoring
data:
  KAFKA_BOOTSTRAP_SERVERS: "kafka.log-monitoring.svc.cluster.local:9092"
  KAFKA_TOPIC: "logs"
  KAFKA_PARTITIONS: "10"
  MONGODB_DATABASE: "logs"
  BATCH_SIZE: "500"
  LOGS_PER_SECOND_API: "50"
  LOGS_PER_SECOND_AUTH: "30"
  LOGS_PER_SECOND_PAYMENT: "20"
  MONGODB_URI: "mongodb://admin:admin123@mongodb:27017/"
  
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: grafana-provisioning
  namespace: log-monitoring
  labels:
    app: grafana
data:
  datasources.yaml: |
    apiVersion: 1
    datasources:
      - name: Prometheus
        type: prometheus
        url: http://prometheus-stack-kube-prom-prometheus.log-monitoring.svc.cluster.local:9090
        access: proxy
        isDefault: true
      - name: MongoDB
        type: haohanyang-mongodb-datasource
        uid: mongodb
        url: mongodb://mongodb-0.mongodb.log-monitoring.svc.cluster.local:27017
        jsonData:
          database: "logs"
        secureJsonData:
          username: "${MONGO_ROOT_USERNAME}"
          password: "${MONGO_ROOT_PASSWORD}"