apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: log-monitoring

resources:
- namespace.yaml
- configmap.yaml
- secret.yaml
- mongodb/statefulset.yaml
- kafka/statefulset.yaml
- producers/deployment.yaml
- consumers/deployment.yaml
- aggregator/deployment.yaml
- grafana/deployment.yaml
- prometheus/deployment.yaml
- hpa.yaml

labels:
- pairs:
    project: log-monitoring
    managed-by: kustomize

configMapGenerator:
- name: grafana-dashboards
  files:
  - grafana/log-monitoring-dashboard.json

