apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: log-monitoring

resources:
- namespace.yaml
- configmap.yaml
- secret.yaml
- mongodb/statefulset.yaml
- kafka/statefulset.yaml
- producers/deployment.yaml
- consumers/deployment.yaml
- aggregator/deployment.yaml
- grafana/deployment.yaml
- hpa.yaml

commonLabels:
  project: log-monitoring
  managed-by: kustomize
